body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.page-title-about {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.page-subtitle-about {
    font-size: 1.5rem;
    color: #666;
    text-align: center;
    margin-bottom: 15px;
}

.page-content-about {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    margin-left: 35rem;
    
}

.nwa-image-about{
    display: block;
    margin-right: 30rem;
    max-width: 20%;
    height: auto;
    border-radius: 10px;
}

.container-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}


